.search-component
{
    background-image: url('../Images/homeblock_main_desktop.jpg');
    /* background-image: URL("../../src/Image/homeblock_main_desktop.jpg"); */
  
}
.container,.container-fluid
{
    color:white;
    width:100% !important;

}
.home-title
{
    margin: 0 auto;

}
.home-forum
{
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

}
 .HomeBlock-image {
    position: relative;
    width: auto;
    min-height: 320px;
    height: 80vh;
    margin: 0 auto;
    border-radius: 0;
    background-position: 50% 20%;
}
.title{
    padding: 0;
    font-size: 60px;
    text-align: center;
    text-shadow: 0 0 12px rgba(0,0,0,0.1);
    color:white;
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
}
.Content
{
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}
.align-center
{
    text-align: center;
}
.content-text
{
    
    padding: 0;
    margin: 0 0 16px;
    font-size: 26px;
    text-shadow: 0 0 12px rgba(0,0,0,0.1);
    color:white;
    z-index: 2;
}